{% extends 'base_generic.html' %}

{% block content %}
  <h2>All Blog Posts</h2>
  <ul>
    {% for post in posts %}
      <li>
        <a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a> - {{ post.published_date|date:"F j, Y" }}
        {% if user == post.author %}
          <a href="{% url 'post-edit' post.pk %}">Edit</a> | 
          <a href="{% url 'post-delete' post.pk %}">Delete</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <a href="{% url 'post-create' %}">Create New Post</a>
{% endblock %}
